[submodule "cpp_string_view"]
	path = cpp_string_view
	url = https://github.com/SurajPatil44/my_gists/cpp_string_view
	branch = cpp_string_view
[submodule "youtube_thumbnail_downloader"]
	path = youtube_thumbnail_downloader
	url = https://github.com/SurajPatil44/my_gists/youtube_thumbnail
	branch = cpp_string_view
